<h2> Autor de la página: <h2>
<h2> <strong> Javier Amor De La Cruz </strong> </h2>
        <img src="images/Img_alumno.JPG" width="300" height="392" alt="Imagen del Alumno" />
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FozhZHuAcCs" frameborder="0" allowfullscreen></iframe>
    
